body{
    margin: 0;
    background-color: var(--bg-page-color);
    overflow-x: hidden;
}

:root{
    /* color */
    /*Light mode  */
    --bg_color:#95B185;
    --text-color:black;
    --border-color: black;
    --bg-page-color: #C2C4E9;
    --box-shadow:4px -2px 40px 9px grey;
    --primary-color: #8cca8c;
}

.flex-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

/* Navbar */
.navbar-container{
    justify-content: space-between;
    padding:16px 32px;
    background-color: var(--bg_color);
    box-shadow: var(--box-shadow);

}

.logo-name{
    font-weight:bolder;
    font-size:2rem;
}

.line{
    font-weight: bolder;
    font-size:2rem;
    color:var(--primary-color);
}

.nav-items{
    list-style-type: none;
    @media (max-width: 760px) {
        display: none;
       
    }
  
}

.nav-items a{
    text-decoration: none;
    color:var(--text-color);
    
}

.nav-items a:hover{
    color: var(--primary-color);
}
/* Hamburger menu */
#hamburger-menu {
    display: none;
   
}

[for="hamburger-menu"]{
    display: none;
    @media (max-width: 760px) {
        display:block;
        
    }
}

.side-menu{
    list-style-type: none;
    display:none;
  
}
/* Mobile only css */

@media (max-width: 760px) {

    .side-menu{
        width: 250px;
        background-color: var(--bg_color);
        box-shadow: var(--box-shadow);
        border-radius: 12px;
        display: block;
        position: absolute;
        top:4rem;
        left:100vw;
        transition: left 0.5s;
        
    }

    .side-menu-items{
        list-style:none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .side-menu-items a{
        text-decoration: none;
        color:var(--text-color);
    }

    .side-menu-items hover{
        color:var(--primary-color);
    }

    #hamburger-menu:checked + .side-menu {
        /* display:block; */
        left: calc(100vw - 250px);
    }

    /* #hamburger-menu:not(checked) + .side-menu {
        display:none;

    } */


}

.grid-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
}

.hero-section{
    background-color: white;
    border-radius: 12px;
    max-height: 60vh;
    margin: 2rem 1rem;

}

.intro-text{
    color:var(--text-color);
    padding:8px;
}

.download-btn{
    background-color: var(--bg-page-color);
    color:white;
    border-radius: 12px;
    border:none;
    padding:12px;
    margin-top: 2rem;

}

.download-btn hover{
    cursor:pointer;
}

.profile-image{
    /* border:2px solid black; */
    margin:-2rem;
}

.profile-image img{
    /* border:2px solid plum; */
    height:200%;
    width:80%;

}